.button-insertChild {
    background-color: green;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 11h12M4 11L4 4M16 11L11 6M16 11L11 16" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.button-insertAfter {
    background-color: green;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 4v12M10 16l-5-5M10 16l5-5" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.button-insertBefore {
    background-color: green;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 4v12M10 4l-5 5M10 4l5 5" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.button-delete {
    background-color: red;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 4l12 12M16 4L4 16" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.button-delete-garbage-can {
    background-color: red;
    width: 26px;
    height: 26px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 5 v12 h10 v-12 M4 5 h12 M8 4 h4" stroke="black" stroke-width="2" stroke-linecap="round" fill="none" /><path d="M8.5 8 v6 M11.5 8 v6" stroke="black" stroke-width="1" stroke-linecap="round" fill="none" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* Smaller action buttons inside the hierarchical tree view */
table.html_edit_table .button-insertChild,
table.html_edit_table .button-insertAfter,
table.html_edit_table .button-insertBefore,
table.html_edit_table .button-delete-garbage-can {
    width: 20px;
    height: 20px;
    min-width: 20px;
    padding: 0;
    background-size: 16px 16px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
}

.button-green {
    background-color: green;
    height: 26px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 20px;
}

.button-red {
    background-color: red;
    height: 26px;
    min-width: 26px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0px;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 16px;
}

.button-lightblue {
    background-color: lightblue;
    height: 26px;
    min-width: 26px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}

.type-orange {
    background-color: orange;
    height: 26px;
    min-width: 26px;
    display: inline-block;
    align-items: flex-end; /* NEW */
    justify-content: flex-end; /* NEW */
    vertical-align: bottom; /* NEW */
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
}

/* Dark mode: make embedded SVG icons readable on colored buttons */
html[data-theme="dark"] .button-insertChild {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 11h12M4 11L4 4M16 11L11 6M16 11L11 16" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
}

html[data-theme="dark"] .button-insertAfter {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 4v12M10 16l-5-5M10 16l5-5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
}

html[data-theme="dark"] .button-insertBefore {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 4v12M10 4l-5 5M10 4l5 5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
}

html[data-theme="dark"] .button-delete {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 4l12 12M16 4L4 16" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
}

html[data-theme="dark"] .button-delete-garbage-can {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 5 v12 h10 v-12 M4 5 h12 M8 4 h4" stroke="white" stroke-width="2" stroke-linecap="round" fill="none" /><path d="M8.5 8 v6 M11.5 8 v6" stroke="white" stroke-width="1" stroke-linecap="round" fill="none" /></svg>');
}
