{{- if and (not .Values.secrets.existingSecret) (or .Values.secrets.password .Values.secrets.dbDsn (gt (len .Values.secrets.extra) 0)) -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "eendraadschema.secretName" . }}
  labels:
    {{ include "eendraadschema.labels" . | nindent 4 }}
stringData:
  {{- if .Values.secrets.password }}
  {{ .Values.secrets.passwordKey }}: {{ .Values.secrets.password | quote }}
  {{- end }}
  {{- if .Values.secrets.dbDsn }}
  {{ .Values.secrets.dbDsnKey }}: {{ .Values.secrets.dbDsn | quote }}
  {{- end }}
  {{- range $k, $v := .Values.secrets.extra }}
  {{ $k }}: {{ $v | quote }}
  {{- end }}
{{- end }}
